/*************************************  
 BASE STYLES  
**************************************/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
    background-color: #FCFAF9;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("../assets/bg-main-mobile.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

body {
    color: #191826;
    margin: 0 auto;
    max-width: 1110px;
}

h1,
h2,
span,
button {
    font-weight: 700;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

span {
    font-size: 65px;
    line-height: 52px;
}

/* Might change later when working on eq div */
.price p {
    font-size: 20px;
    line-height: 32px;
}

button {
    font-size: 18px;
    line-height: 32px;
}

footer p {
    font-size: 16px;
    line-height: 26px;
}

img {
    width: 210px;
    height: 430px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*************************************  
 HEADER STYLES  
**************************************/

.header {
    height: 7.5rem;
    display: flex;
    align-items: center;
}
    .header__logo {
        display: block;
    }
    .header__art {
        display: none;
    }


/*************************************  
 768px MEDIA QUERIES
**************************************/
@media (min-width: 768px) { 
    html {
        background-image: url("../assets/bg-main-tablet.png");
    }

    h1 {
        font-size:   64px;
        line-height: 64px;
    }

    .header {
        height: 12rem;
        position: relative;
    }
        .header__art {
            display: block;
            position: absolute;
            top: -2.3rem;
            right: -5.5rem;
        }
}

/*************************************  
 1110px MEDIA QUERIES
**************************************/
@media (min-width: 1110px) { 
    html {
        background-image: url("../assets/bg-main-desktop.png");
    }

    h1 {
        font-size: 5.5rem;
        line-height: 88px;
        
    }

    h2 {
        font-size: 40px;
        line-height: 52px;
    }

    p {
        font-size: 20px;
        line-height: 34px;
    }

    .header__art {
        right: -10.3rem;
    }
}

