/*************************************  
 BASE STYLES  
**************************************/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
    background-color: #FCFAF9;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("../assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: 2% -20%;
    background-size: 36.25rem, 48.75rem;
    overflow-x: hidden;
}

body {
    color: #191826;
    overflow-x: hidden;
}

a,
h1,
h2,
span,
button {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -1px;
    max-width: 22rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

span {
    font-size: 4.063rem;
    line-height: 3.25rem;
}

main {
    margin-bottom: 20rem;
}

/*************************************  
WRAPPER / CONTAINERS STYLES  
**************************************/
.wrapper,
.container {
    margin: 0 auto;
}

.wrapper {
    max-width: 78.125rem;
}
    .container {
        width: 90%;
    }

/*************************************  
BUTTON STYLES  
**************************************/
.btn {
    height: 3.813rem;
    font-size: 1.125rem;
    line-height: 2rem;
    text-decoration: none;
    border-radius: 12px;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--ios {
    color: #FCFAF9;
    background-color: #191826;
}

.btn--android {
    color: #191826;
    background-color: #FCFAF9;
}

.btn--ios:hover {
    background-color: #66E2DC;
}
.btn--android:hover {
    background-color: #FFB964;
}

.btn::before {
    padding-top:   0.3rem;
    padding-right: 0.6rem;
}
.btn--ios::before {
    content: url(../assets/icon-apple.svg);
}
.btn--android::before {
    content: url(../assets/icon-android.svg);
}

.buttons {
    width: 90%;
    margin-top: -2rem;
}

/*************************************  
 HEADER STYLES  
**************************************/
.header {
    height: 7.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

/*************************************  
 EQ SECTION STYLES  
**************************************/
.eq {
    width: 100%;
    height: 37.5rem;
    margin-top: 10rem;
    border-radius: 12px;
    background-color: #191826;
    position: relative;
}
    .eq__image {
        width: 13.061rem;
        height: 26.875rem;
        display: block;
        margin: 0 auto;
        top: -6rem;
        position: relative;
        z-index: 2;
    }
    .eq__art {
        margin: auto;
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0;
        z-index: 1;
     }

/*************************************  
PREMIUM DIV STYLES  
**************************************/
.premium {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FCFAF9;
    width: 100%;
    max-width: 23.438rem;
    height: 34.125rem;
    margin: 0 auto;
    background-color: #FA7453;
    border-radius: 12px;
    position: relative;
    z-index: 2;
    top: -1.5rem; 
}

/*************************************  
PREMIUM EQ STYLES  
**************************************/
.premium-eq {
    display: flex;
    flex-direction: column;
}
    .premium-eq__heading {
        margin-bottom: 0;
    }
    .premiun__price {
        font-size: 1.25rem;
        line-height: 2rem;
    }

/*************************************  
FOOTER STYLES  
**************************************/
.footer {
    width: 90%;
    max-width: 23rem;
    margin: 25.5rem auto 5rem;
}
    .footer__text {
        font-size: 1rem;
        line-height: 1.625rem;
        max-width: 23rem;
    }
    .footer__logo {
        margin-bottom: 1rem;
    }
    .footer__icons {
        margin-top: 4rem;
        width: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

/*************************************  
MEDIA QUERIES
**************************************/
@media (min-width: 415px) { 
    h1 {
        max-width: 26rem;
    }
}

@media (min-width: 768px) { 
    html {
        background-image: url("../assets/bg-main-tablet.png");
        background-position: 80% -38%;
        background-size: 1283px 1108px;
    }

    main {
        margin-bottom: 10rem;
    }

    h1 {
        font-size:   4rem;
        line-height: 4rem;
    }

    .header {
        height: 12rem;
    }
        .header__art {
            width: 19.5rem;
            height: 29.25rem;
            position: absolute;
            top: -2rem;
            right: -5.5rem;
            background-image: url("../assets/bg-pattern-1.svg");
            background-repeat: no-repeat;
        }

    .intro__para {
        width: 70%;
        max-width: 53.125rem;
    }

    .eq {
        width: 90%;
        max-width: 1250px;
        margin: auto;
        margin-top: 15rem;
    }
        .eq__image {
            width: 16.888rem;
            height: 34.75rem;
            position: absolute;
            top: -8rem;
            left: 3.63rem;
        }
        .eq__art {
            top: -2rem;
            left: 15rem;
            margin: 0;
        }

    .premium {
        width: 24.938rem;
        position: absolute;
        top: 10rem;
        right: 3.63rem;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: none;
        margin-top: 0;
    }
        .footer__logo {
            width: 100%;
        }
        .footer__icons {
           margin-top: 0;
           margin-left: auto;
        }
}

@media (min-width: 1110px) { 
    html {
        background-image: url("../assets/bg-main-desktop.png");
        background-position: 50% 200%;
        background-size: 119.563rem 128.625rem;
    }

    main {
        margin-bottom: 16.5rem;
    }

    h1 {
        font-size: 5.5rem;
        line-height: 5.5rem;
        max-width: 44rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 2.125rem;
    }

    .header__art {
        right: -10rem;
    }

    .eq__image {
        width: 19.5rem;
        height: 40.125rem;
        top: -9rem;
        left: 7rem;
    }
    .eq__art {
        top: 1.8rem;
        left: 21.6rem;
    }

    .premium {
        width: 27.875rem;
        height: 39.063rem;
        right: 7rem;
    }

    .footer {
        justify-content: space-between;
    }
        .footer__logo {
            width: 16%;
            margin-bottom: auto;
        }
        .footer__text {
            margin-top: 0;
            margin-right: 15rem;
        }
        .footer__icons {
           margin: 0;
        }
}

@media (min-width: 1250px) { 
    html {
        background-position: 60% 150%;
        
    }

    h1 {
        max-width: 57.5rem;
    }
}
